.dashItem {
    margin: 10px;
}
#eventBlurb {
    width: 100%;
    height: 60px;
}
#dashHeader {
    text-align: center;
}
/*Index*/
#homeSearch {
    margin-left: 30%;
    margin-top: 25px;
    width: 40%;
}
#homeSearch label {
    font-weight: bold;
}
#welcome {
    margin-left: 25px;
    width: 85%;
}
.homeCell {
    margin-left: 25px;
    margin-top: 65px;
    width: 85%;
}

report erratum • discuss

.homeCell .buttons {
    width: 180px;
    text-align: center;
    float: right;
    margin-right: 30px;
    margin-bottom: 30px;
}
h3, li {
    margin-bottom: 15px;
}
/*Message Create*/
.messageField {
    width:550px
}
/*Ajaxlist*/
#messageList {
    margin: 20px 30px;
    overflow:auto
}
#messageList p {
    margin: 10px 0;
}
#show-message {
    margin: 20px 30px;
}
#detailHeading {
    margin-left: 30px;
    margin-bottom: 15px;
}
/*Volunteer Dialog*/
#volunteerDialog .ui-widget-header {
    color: #ABBF78;
    background-image: none;
    color: #000;
}